.*/
.vim*
.bash*
.py*
.git*
.idea/

hacathon(8200)/
*.ppt*
*.doc*
.idea/
.DS_Store

# files and folders for local dedbug
local_test_*

FlaskProjectBynet/
FinalProject/djangoProject/db.sqlite3

FinalProject/djangoProject/Files/
FinalProject/Presentation/Presentation.key

# Frontend---------------|
.DS_Store
FinalProject/front_aggregate/node_modules
FinalProject/front_aggregate/dist
# local env files
.env.local
.env.*.local
# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env*
FinalProject/front_aggregate/.env
FinalProject/front_aggregate/.env

# Backend---------------|
FinalProject/djangoProject/venv/
FinalProject/djangoProject/djangoProject/.env
FinalProject/djangoProject/aggregated/migrations/
ex3_python/djangoProject/aggregated/migrations/0004_alter_participants_pub_date.py
FinalProject/djangoProject/Files/

# DataBase---------------|
FinalProject/data/
FinalProject/djangoProject/csv_files/*.csv


# Kubernetes-------------|
FinalProject/Kubernetes/secret.yaml


# SonarQube-------------|
FinalProject/SonarQube/
