apiVersion: v1
kind: Secret
metadata:
  name: backend-secret
  namespace: bynet
type: Opaque
data:
  postgres-user:        user
  postgres-password:    paasowrd
  remote-user:          remote_user
  remote-password:      remote_password

# All string need in format **base64**
